.post-special {
    text-align: center;
    margin: 20px auto;
    width: 85%;

    .title {
        width: 100%;
        font-size: 25px;
        text-align: center;
        padding: 5px 0;
        font-weight: 500;
    }
}

.posts-item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .more-posts {
        height: 380px;
        position: relative;
        text-decoration: none;
        color: inherit;

        .content-more {
            position: absolute;
            cursor: pointer;
            left: 10%;
            top: 8%;
            width: 80%;
            height: 85%;
            position: relative;
            background-color: #fff;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease-in-out;
            text-decoration: none;
            color: inherit;
            display: flex;
            justify-content: center;
            align-items: center;


        }

        .content-more:hover {
            transform: translateY(-10px);
        }
    }


    a {
        text-decoration: none;
    }


    i {
        cursor: pointer;
        font-size: 2em;
    }

    .slider {
        width: 95%;
        height: 370px;

    }


}



// .posts-item {
//     width: 100%;
//     display: flex;
//     margin-top: 10px;
//     flex-wrap: wrap;
//     justify-content: center;
//     gap: 20px;


// }


// .event-card {
//     position: relative;
//     width: 80%;
//     background-color: #fff;
//     border-radius: 10px;
//     overflow: hidden;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//     transition: transform 0.3s ease-in-out;
//     text-decoration: none;
//     color: inherit;
// }

// .event-card:hover {
//     transform: translateY(-10px);
// }

// .event-image {
//     width: 100%;
//     height: 180px;
//     object-fit: cover;
// }

// .event-info {
//     padding: 20px;
//     text-align: left;
// }

// .event-date {
//     position: absolute;
//     top: 10px;
//     left: 10px;
//     background-color: #333;
//     color: #fff;
//     padding: 10px;
//     border-radius: 5px;
//     font-size: 1.2em;
// }

// .event-date .day {
//     display: block;
//     font-size: 1.5em;
//     font-weight: bold;
// }

// .event-date .month {
//     text-transform: uppercase;
// }

// .events h2 {
//     margin-bottom: 20px;
//     font-size: 2em;
//     color: #333;
// }

// .events h3 {
//     font-size: 1.5em;
//     margin: 10px 0;
//     color: #333;
// }

// .events p {
//     margin: 5px 0;
//     color: #555;
// }