.container {
    margin-top: 40px;
    margin-left: 40px;

    .event-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .event-item {
        position: relative;
        display: flex;
        align-items: center;
        padding: 15px;
        background-color: #f5f5f5;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }

        .event-tag {
            background-color: #00bcd4;
            color: white;
            padding: 5px 15px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: bold;
            margin-right: 20px;
        }

        .event-details {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .event-name {
                font-size: 18px;
                font-weight: 600;
                color: #333;
            }

            .event-date {
                font-size: 14px;
                color: #666;
                display: flex;
                gap: 5px;

                .start-date,
                .end-date {
                    font-weight: 500;
                }
            }

            .event-location,
            .event-organized {
                font-size: 14px;
                color: #777;
            }
        }

        .event-status {
            position: absolute;
            display: flex;
            right: 0;
            margin-right: 20px;
            background-color: #00bcd4;
            color: white;
            height: 35px;
            border-radius: 10px;
            align-items: center;
            padding: 5px 10px;

            &.chua-bat-dau {
                background-color: #e4d1b4; // Màu đỏ cho "Chưa bắt đầu"
                color: white;
            }

            &.dang-dien-ra {
                background-color: #4caf50;
                // Màu cam cho "Đang diễn ra"
                color: white;
            }

            &.da-ket-thuc {
                background-color: #f44336; // Màu đỏ cho "Chưa bắt đầu"
                // Màu xanh lá cho "Đã kết thúc"
                color: white;
            }
        }


    }

    .view-all {
        margin-top: 20px;
        text-align: center;
    }

    .view-all-link {
        font-size: 16px;
        color: #00bcd4;
        text-decoration: none;
        font-weight: bold;
        border: 2px solid #00bcd4;
        padding: 8px 20px;
        border-radius: 20px;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: #00bcd4;
            color: white;
        }
    }


}