.container {
    position: relative;
    width: 100%;
    overflow: hidden; // Đảm bảo các phần tử con không "trôi" ra ngoài

    .border {
        width: 100%;
        height: 4px;
        background-color: #9e1c1c;
    }
}

.slides {
    .slide-item {
        position: relative; // Giữ các phần tử con bám vào container cha
        overflow: hidden;

        .poster {
            width: 100%;
            height: 400px; // Chiều cao cố định cho slider
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(100%); // Hình ảnh luôn fit vào khung và giữ tỷ lệ
                transition: transform 0.5s ease-in-out, filter 1s ease-in-out; // Hiệu ứng zoom
            }

            &:hover img {
                transform: scale(1.05); // Zoom nhẹ khi hover
                filter: brightness(50%);
            }

            .overlay {
                position: absolute;
                bottom: 10%;
                left: 5%;
                background: rgba(0, 0, 0, 0.6);
                color: #fff;
                padding: 20px;
                border-radius: 8px;
                opacity: 0;
                transition: opacity 0.5s ease-in-out;

                h3 {
                    font-size: 24px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 15px;
                }

                .detail-button {
                    display: inline-block;
                    padding: 8px 16px;
                    background: #f62724;
                    color: #fff;
                    text-decoration: none;
                    border-radius: 4px;
                    transition: background 0.3s ease;
                    cursor: pointer;

                    &:hover {
                        background: #9e1c1c;
                    }
                }
            }

            &:hover .overlay {
                opacity: 1; // Hiện overlay khi hover vào ảnh
            }
        }
    }
}